.List {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 1em 2em;
}
